.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.cover {
    width: 20rem;
}

.grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1 fr));
}

.box > img {
    width: 100%;
    height: auto;
}

.box {
    background-color: #0E284D;
    padding: 130px;
    margin: 20px;
}

.box:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

