footer {
    background-color: #DE6600;
    color:#003F5A;
}

.footer-content {
    display: flex;
    list-style: none;
    margin: 0;
}

.footer-right {
    margin-right: auto;
    color: #003F5A;
    cursor: auto;
    /* padding: 20px; */
}

.footer-link {
    text-decoration: none;
    font-size: 0.7em;
    margin: 0 auto;
    padding: 10px
}

@media only screen and (max-width: 600px) {
    footer {
        padding: 0;
    }
}