.zone {
    cursor: pointer;
    color:#FFF;
    font-size: 2em;
    border-radius: 4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}
  
.zone:hover {
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


footer {
    background-color: #DE6600;
    color:#003F5A;
}

.footer-content {
    display: flex;
    list-style: none;
    height: 10%;
    margin: 0;
    width: 100%;
}

.footer-right {
    margin-right: auto;
    color: #003F5A;
    cursor: auto;
}

.footer-link {
    text-decoration: none;
    font-size: 0.7em;
    margin: 0 auto;
    padding: 10px
}

@media only screen and (max-width: 600px) {
    footer {
        padding: 0;
    }
}

