form {
    background-color: #003F5A;
}

.submit {
    padding: 16px;
	height: auto;
	margin: 0 auto;
    width: 100%;
}

.typical-submit {
    position: absolute;
    color: #003F5A;
}

.submit h2 {
    padding-top: 35px;
	padding-bottom: 10px;
	font-size: 2em;
	text-align: center;
	letter-spacing: 0.2em;
}

.submitForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 10%;
}

.submitText {
    color: white;
}

.body {
    -webkit-font-kerning: none;
    font-kerning: none;
    font-size: 14px;
    padding: 2em;
    text-align: center;
}

.body * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.body h1 {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.6;
    margin: 0 0 2em;
}

/* .body input[type="number"] {
    -moz-appearance: textfield;
}

.body input[type="number"]::-webkit-inner-spin-button,
.body input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

.body .pt_Quantity {
    display: inline-block;
    margin: 0 0 10px;
    position: relative;
}

.body .pt_Quantity input {
    color: #443017;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #b7b7b7;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 300;
    min-width: 45px;
    height: 30px;
    float: left;
    display: block;
    padding: 0 15px 0 2px;
    margin: 0;
    text-align: center;
    width: 70px;
}

.body .pt_Quantity input:focus {
    outline: 0;
}

.body .pt_Quantity .pt_QuantityNav {
    float: left;
    position: relative;
    height: 30px;
}

.body .pt_Quantity .pt_QuantityNav .pt_QuantityButton {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #b7b7b7;
    width: 15px;
    text-align: center;
    color: #333;
    font-size: 14px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.1;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.body .pt_Quantity .pt_QuantityNav .pt_QuantityButton:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.body .pt_Quantity .pt_QuantityNav .pt_QuantityButton.pt_QuantityUp {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #b7b7b7;
}

.body .pt_Quantity .pt_QuantityNav .pt_QuantityButton.pt_QuantityDown {
    position: absolute;
    bottom: 0px;
    height: 50%;
}