.zone {
  cursor: pointer;
  color:#FFF;
  font-size: 2em;
  border-radius: 4px;
  border:1px solid #bbb;
  transition: all 0.3s linear;
}

.zone:hover {
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.ready {
  font-size: .8em;
  color:#003F5A;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 2px;
}

.guess-button {
  color: #003F5A !important;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 5px 15px;
  margin-top: 3rem;
  border: 3px solid #003F5A !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  position: relative;
  top: 100%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.guess-button:hover {
  background-color:#EBD9C8;
  border-radius: 15px;
  border-color: #003F5A !important;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}