* {
  box-sizing: border-box;
}

.App {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: auto;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: auto;
}

.aButton {
  color: #571717 !important;
  background: #ffffff;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 10px;
  margin: 5px;
  border: 3px solid #555 !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.aButton:hover,
button:hover {
  color: #494949 !important;
  border-radius: 15px;
  border-color: #571717 !important;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: Orbitron, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select,
textarea {
  border-radius: 4px;
  border: 2px solid #555;
  margin: 5px;
}
input,
select {
  height: 25px;
}
label {
  margin: 9px 5px 1px;
  height: 25px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  max-width: 600px;
  width: 100%;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

a {
  text-decoration: none;
  color: #003f5a;
}

a:hover {
  color: rgb(0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Orbitron, sans-serif;
  font-weight: 200;
  color: #222;
}

/* ----------- iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  html {
    max-width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  .App {
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}
