.Winner section {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.Winner {
  text-align: center;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  padding: 15px;
}

/* ----------- iPhone X ----------- */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .main-nav {
      max-width: 100vw;
    }
    .link {
        padding: 12px;
        font-size: .5em;
    }
}