.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    background-color: #DE6600;
}

.right {
    margin-right: auto;
}

.link {
    color:#003F5A;
    text-decoration: none;
    font-size: 0.7em;
    padding: 15px;
    letter-spacing: 2px;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        /* font-size: 0.5em; */
        padding: 0;
    }
}






