.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    background-color: #F29C00;
}

.right {
    margin-right: auto;
}

.link {
    color: #444444;
    text-decoration: none;
    font-size: 0.7em;
    padding: 15px;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        /* font-size: 0.5em; */
        padding: 0;
    }
}






